.profile-info-cont{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.user-info-container{
  width: 322px;
  height: 510px;
  background-image: url('/images/profileBack.svg');
  background: 100 100 no-repeat;
  border-radius: 10px 0 0 10px;
} 
@media (min-width: 1024px) { 
  .user-info-container{
    width: 322px;
    height: 510px;
    background-image: url('/images/profileBack.svg');
    background: 100 100 no-repeat;
    
  } 
}
@media (min-width: 1280px) { 
  .user-info-container{
    width: 384px;
    height: 610px;
   
  } 
}
@media (min-width: 1400px) { 
  .user-info-container{
    width: 472px;
    height: 750px;
   
  } 
}